@font-face {
  font-family: "PTRootUIWebVF";
  src: url("/fonts/PT%20Root%20UI_VF.eot");
  src: url("/fonts/PT%20Root%20UI_VF.eot?#iefix") format("embedded-opentype"), url("/fonts/PT%20Root%20UI_VF.woff2") format("woff2"), url("/fonts/PT%20Root%20UI_VF.woff") format("woff"), url("/fonts/PT%20Root%20UI_VF.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}
button {
  all: unset;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  transition: transform 150ms ease, background-color 800ms ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  box-sizing: border-box;
  transform: rotate(6deg);
}

button:hover,
button:focus {
  background-color: #000000;
  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  border: 2px solid #ffffff;
}

button:active {
  transform: scale(0.8) rotate(6deg);
}

.shook {
  animation-name: wobble;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.17, -1, 0, 1.58);
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes wobble {
  0% {
    transform: rotate(6deg);
  }
  15% {
    transform: rotate(-36deg);
  }
  50% {
    transform: rotate(36deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
::selection {
  background: rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;
  font-family: "PTRootUIWebVF", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  color: black;
}
@media (min-width: 834px) {
  body {
    display: flex;
  }
}
@media (max-width: 834px) {
  body {
    scroll-snap-type: y mandatory;
  }
}

blockquote,
cite,
a {
  all: unset;
}

blockquote p {
  margin-top: 0;
}

a {
  font-weight: bold;
  transition: border-color 800ms ease, color 150ms ease;
}
a:hover {
  cursor: pointer;
  color: #fec300;
}

#advice-section,
#attribution-section {
  height: calc(100vh - 4rem);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background 800ms ease;
}
@media (max-width: 834px) {
  #advice-section,
#attribution-section {
    scroll-snap-align: start;
  }
}
@media (min-width: 834px) {
  #advice-section,
#attribution-section {
    height: calc(100vh - 6rem);
    padding: 3rem;
    flex-basis: 50%;
  }
}

#advice-section {
  background-color: #fec300;
  overflow: hidden;
  word-wrap: break-word;
}
#advice-section blockquote {
  width: 90%;
}
@media (min-width: 834px) {
  #advice-section blockquote {
    width: 85%;
  }
}
#advice-section blockquote p {
  font-weight: bold;
  line-height: 163.5%;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.1), opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
}
#advice-section blockquote p.start-pos-vertical {
  opacity: 0;
  transform: translate(0, 1rem);
}
#advice-section blockquote p.end-pos-vertical {
  opacity: 0;
  transform: translate(0, -1rem);
}
#advice-section blockquote p.start-pos-horizontal {
  opacity: 0;
  transform: translate(-1rem, 0);
}
#advice-section blockquote p.end-pos-horizontal {
  opacity: 0;
  transform: translate(1rem, 0);
}
@media (min-width: 834px) {
  #advice-section blockquote p {
    font-size: 4vmin;
  }
}
#advice-section button {
  position: absolute;
  bottom: 2rem;
  left: calc(2rem - 0.5rem);
  font-size: 1rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
  border: 2px solid black;
  color: black;
  -webkit-text-fill-color: black;
}
@media (min-width: 834px) {
  #advice-section button {
    display: none;
  }
}

#attribution-section {
  position: relative;
}
#attribution-section button {
  display: none;
}
@media (min-width: 834px) {
  #attribution-section button {
    display: inline;
    position: absolute;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    background-color: #fec300;
    border: 2px solid black;
    color: black;
    -webkit-text-fill-color: black;
  }
}
#attribution-section p.site-credits {
  font-size: 0.875rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  writing-mode: vertical-rl;
  margin: 0;
  max-height: 60%;
}
@media (min-width: 834px) {
  #attribution-section p.site-credits {
    top: 3rem;
    right: 3rem;
  }
}
#attribution-section p.site-credits a {
  border-left: 2px solid #fec300;
}
#attribution-section p.advice-credits {
  text-align: right;
  line-height: 163.5%;
  max-width: calc(100% - 6rem);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
@media (min-width: 834px) {
  #attribution-section p.advice-credits {
    max-width: calc(100% - 12rem);
    bottom: 3rem;
    right: 3rem;
  }
}
#attribution-section p.advice-credits a {
  border-bottom: 2px solid #fec300;
}

#checkbox-container {
  display: none;
  font-size: 0.75rem;
}
#checkbox-container p:first-of-type {
  line-height: 163.5%;
}
#checkbox-container p:first-of-type span {
  color: grey;
  text-transform: uppercase;
}
#checkbox-container p:last-of-type {
  color: grey;
  opacity: 0;
  transition: opacity 200ms ease;
}

input,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.switch {
  position: relative;
  display: inline-block;
  left: -0.25rem;
}
.switch input {
  display: none;
}
.switch label {
  display: block;
  width: 66px;
  height: 40px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch label::before,
.switch label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch label::before {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  transition: background-color 0.25s ease;
}
.switch label::after {
  top: calc(50% - (15px));
  left: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  border: 2px solid white;
  transition: left 200ms ease;
}
.switch input:checked + label::before {
  background-color: black;
}
.switch input:checked + label::after {
  background-color: white;
  border: 2px solid white;
  left: calc(66px - 30px - 6px);
}

/*# sourceMappingURL=style.css.map */
