@use "variables";

// Reset them
button {
  all: unset;
  width: variables.$unit-button-large;
  height: variables.$unit-button-large;
  border-radius: variables.$unit-button-large;

  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  transition: all variables.$transition-basic;

  // Set a slight inner padding to force spacing
  // padding: 0.25rem;

  // Style
  font-weight: bold;
  // background-color: black;
  // color: white;
  // -webkit-text-fill-color: white;
  // border: 2px solid white;
  // Force border inside
  box-sizing: border-box;
  transform: rotate(6deg);
}

button:hover,
button:focus {
  background-color: variables.$colour-black;
  color: variables.$colour-white;
  -webkit-text-fill-color: variables.$colour-white;
  border: 2px solid variables.$colour-white;
}

button:active {
  transform: scale(0.9);
}
