@use "variables";

// Reset buttons
button {
  all: unset;
  width: variables.$unit-button-large;
  height: variables.$unit-button-large;
  border-radius: variables.$unit-button-large;

  cursor: pointer;
  text-align: center;
  font-size: 1.25rem;
  transition: transform variables.$transition-basic, background-color variables.$transition-color;

  // Stop highlight on tap
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // Give buttons a basic styling
  font-weight: bold;
  box-sizing: border-box;
  transform: rotate(6deg);
}

button:hover,
button:focus {
  background-color: variables.$colour-black;
  color: variables.$colour-white;
  -webkit-text-fill-color: variables.$colour-white;
  border: 2px solid variables.$colour-white;
}

button:active {
  transform: scale(0.8) rotate(6deg);
}

// Create button animation for when device is shook
.shook {
  animation-name: wobble;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.17, -1, 0, 1.58);
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes wobble {
  0% {
    transform: rotate(6deg);
  }
  15% {
    transform: rotate(-36deg);
  }
  50% {
    transform: rotate(36deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
