@use "variables";

// Both sections
#advice-section,
#attribution-section {
  height: calc(100vh - #{variables.$unit-edge-small * 2});
  padding: variables.$unit-edge-small;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Animate the background colour changes
  transition: background variables.$transition-color;

  // Only do scroll snapping on smaller breakpoints
  @media (max-width: variables.$breakpoint-tablet) {
    scroll-snap-align: start;
  }
  @media (min-width: variables.$breakpoint-tablet) {
    // Increase padding on larger screens
    height: calc(100vh - #{variables.$unit-edge-large * 2});
    padding: variables.$unit-edge-large;
    // Make each section 50/50 on larger screens
    flex-basis: 50%;
  }
}

// First section
#advice-section {
  // Set to initial background-colour
  background-color: variables.$color-initial;
  // Clip text if necessary
  overflow: hidden;

  blockquote {
    p {
      font-size: 6vmin;
      font-weight: bold;
      line-height: 163.5%;
      transition: transform variables.$transition-text-vertical, opacity variables.$transition-text-vertical;

      &.start-pos {
        opacity: 0;
        transform: translate(0, 1rem);
      }

      &.end-pos {
        opacity: 0;
        transform: translate(0, -1rem);
      }

      @media (min-width: variables.$breakpoint-tablet) {
        font-size: 4vmin;
      }
    }
  }

  button {
    // Position the button
    position: absolute;
    bottom: variables.$unit-edge-small;
    // Optically align left side of button
    left: calc(#{variables.$unit-edge-small} - 0.5rem);
    // Style the button
    font-size: 1rem;
    width: variables.$unit-button-small;
    height: variables.$unit-button-small;
    background-color: white;
    border: 2px solid black;
    color: black;
    -webkit-text-fill-color: black;
    // Don't show if screen is wide-enough for other button
    @media (min-width: variables.$breakpoint-tablet) {
      display: none;
    }
  }
}

// Second section
#attribution-section {
  // Allow the contents to be positioned and sized absolutely later on
  position: relative;

  button {
    // Don't show by default
    display: none;

    // Only show if screen is wide enough for other button to hide
    @media (min-width: variables.$breakpoint-tablet) {
      display: inline;
      // Position the button
      position: absolute;
      top: calc(50% - #{variables.$unit-button-large / 2});
      left: calc(50% - #{variables.$unit-button-large / 2});
      // Apply specific styling
      background-color: variables.$color-initial;
      border: 2px solid black;
      color: black;
      -webkit-text-fill-color: black;
    }
  }

  // Style the site credits
  p:first-of-type {
    font-size: 0.875rem;
    // Position
    position: absolute;
    top: variables.$unit-edge-small;
    right: variables.$unit-edge-small;
    // Rotate
    writing-mode: vertical-rl;
    margin: 0;
    // Stop from running into advice credits
    max-height: 60%;

    @media (min-width: variables.$breakpoint-tablet) {
      // Increase padding on larger screens
      top: variables.$unit-edge-large;
      right: variables.$unit-edge-large;
    }

    a {
      // Create left border as the writing mode as been changed
      border-left: 2px solid variables.$color-initial;
    }
  }

  // Style the advice credits
  p:last-of-type {
    text-align: right;
    line-height: 163.5%;
    // Calculate variable width with a nice inner buffer
    max-width: calc(100% - #{variables.$unit-edge-small * 3});
    // Position
    position: absolute;
    bottom: variables.$unit-edge-small;
    right: variables.$unit-edge-small;

    // Increase units on larger screens
    @media (min-width: variables.$breakpoint-tablet) {
      max-width: calc(100% - #{variables.$unit-edge-large * 4});
      bottom: variables.$unit-edge-large;
      right: variables.$unit-edge-large;
    }

    a {
      // Create bottom border
      border-bottom: 2px solid variables.$color-initial;
    }
  }
}
