@use "variables";

// Both sections
#advice-section,
#attribution-section {
  scroll-snap-align: start;

  height: 80vh;
  padding: 10vh 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Animate the background colour changes
  transition: background variables.$transition-color;

  // Make each section 50/50 on larger screens
  @media (min-width: variables.$breakpoint-tablet) {
    flex-basis: 50%;
  }
}

// First section
#advice-section {
  blockquote {
    height: 50vh;
    display: flex;

    p {
      font-size: 6vmin;
      font-weight: bold;
      line-height: 163.5%;
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.1);

      &.start-pos {
        opacity: 0;
        transform: translate(0, 1rem);
      }

      &.end-pos {
        opacity: 0;
        transform: translate(0, -1rem);
      }

      @media (min-width: variables.$breakpoint-tablet) {
        font-size: 4vmin;
      }
    }
  }

  button {
    // Don't show if screen is wide-enough for other button
    @media (min-width: variables.$breakpoint-tablet) {
      display: none;
    }
  }
}

// Second section
#attribution-section {
  // Allow the contents to be positioned and sized absolutely later on
  position: relative;

  button {
    // Don't show by default
    display: none;

    // Only show if screen is wide enough for other button to hide
    @media (min-width: variables.$breakpoint-tablet) {
      display: inline;
      // Position the button
      position: absolute;
      top: calc(50% - #{variables.$unit-button / 2});
      left: calc(50% - #{variables.$unit-button / 2});
      // Apply specific styling
      background-color: variables.$color-initial;
      border: 2px solid black;
      color: black;
      -webkit-text-fill-color: black;
    }
  }

  // Style the site credits
  p:first-of-type {
    font-size: 0.875rem;
    // Position
    position: absolute;
    top: variables.$unit-edge;
    right: variables.$unit-edge;
    // Rotate
    writing-mode: vertical-rl;
    margin: 0;

    a {
      // Create left border as the writing mode as been changed
      border-left: 2px solid variables.$color-initial;
    }
  }

  // Style the advice credits
  p:last-of-type {
    text-align: right;
    line-height: 163.5%;
    // Calculate variable width with a nice inner buffer
    max-width: calc(100% - #{variables.$unit-edge * 2});
    // Position
    position: absolute;
    bottom: variables.$unit-edge;
    right: variables.$unit-edge;

    a {
      // Create bottom border
      border-bottom: 2px solid variables.$color-initial;
    }
  }
}
