@use "variables";

// Two sections
#advice-container,
#attribution-container {
  scroll-snap-align: start;

  height: 80vh;
  padding: 10vh 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: variables.$breakpoint-tablet) {
    flex: 1;
  }
}

// Top section
#advice-container {
  background-color: variables.$colour-black;
  color: variables.$colour-white;

  blockquote {
    height: 50vh;
    display: flex;
    // align-items: center;
    // justify-content: center;

    p {
      font-size: 6vmin;
      //   text-align: center;
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.1);

      &.start-pos {
        opacity: 0;
        transform: translate(0, 1rem);
      }

      &.end-pos {
        opacity: 0;
        transform: translate(0, -1rem);
      }

      @media (min-width: variables.$breakpoint-tablet) {
        font-size: 4vmin;
      }
    }
  }
}

#button-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: variables.$breakpoint-tablet) {
    .button:first-of-type {
      margin-bottom: 2.5vh;
    }
  }
}

// Bottom section
#attribution-container {
  background-color: variables.$colour-white;
  color: variables.$colour-black;

  .button.secondary {
    background-color: variables.$colour-white;
    color: variables.$colour-black;
    -webkit-text-fill-color: variables.$colour-black;
    border: 2px solid variables.$colour-black;

    &:hover,
    &:focus {
      background-color: variables.$colour-black;
      color: variables.$colour-white;
      -webkit-text-fill-color: variables.$colour-white;
    }
  }
}
