@font-face {
  font-family: "PTRootUIWebVF";
  src: url("/fonts/PT%20Root%20UI_VF.eot");
  src: url("/fonts/PT%20Root%20UI_VF.eot?#iefix") format("embedded-opentype"), url("/fonts/PT%20Root%20UI_VF.woff2") format("woff2"), url("/fonts/PT%20Root%20UI_VF.woff") format("woff"), url("/fonts/PT%20Root%20UI_VF.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}
