body {
  margin: 0;
}
main,
section.attribution {
  height: 90vh;
  padding: 5vh 5vw;
}

main {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  justify-content: center;
  align-items: center;
}

section.advice-container {
  height: 50vh;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 3vmax;
  text-align: center;
}

button {
  width: 12rem;
  height: 6rem;
}

button {
  all: unset;
  padding: 2rem 4rem;
  background: #0069ed;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 80ms ease-in-out, transform 150ms ease;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.9);
}
